/**
*permet l’acces à une police externe 
*qui sera appliquée sur une balise
*
*
*/
@font-face {
    font-family: 'ambleregular';
    src: url('fonts/Amble-Regular-webfont.eot');
    src: url('fonts/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Amble-Regular-webfont.woff') format('woff'),
         url('fonts/Amble-Regular-webfont.ttf') format('truetype'),
         url('fonts/Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/**
* Entete de page
*/
header
{	
	
	width: 100%;
	display: flex;
	justify-content: flex-end;
	justify-content: space-between;

	
}
#introductionCV
{
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1
{
	margin: auto;
	text-align: center;
}

h1 + p
{
	margin: auto;
}

.entete
{
	text-align: center;
}


.image
{
	
	border: 1px black solid;
	box-shadow:4px 3px 0px black;
}

.image:hover
{
	box-shadow:0px 0px 0px black;
}




/**
* corps de page
*/


body
{
	background-image: url("background/imageFond.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'ambleregular' , Arial, serif;
}

#bloc-page
{	
	
	display: flex;
	justify-content: flex-end;
	justify-content: space-between;
}
#cursus
{
	
	width: 80%;
	max-height: 70%;
	max-width: 70%;
	display: flex;
	justify-content: center;
		
}

#experience
{
	
	height: 90%;
	width: 90%
	max-width:90%;
	margin: 0 2px 0 2px;
	
}

#competence
{
	height: 90%;
	width: 100;
	max-height: 100%;
	max-width: 95%;
	margin: 0 2px 0 2px;
	
}


#formation
{
	height: 90%;
	width:90%;
	max-height:90%;
	max-width: 95%;
	margin:0 2px 0 2px;	
}

h2
{
	text-align: justify;
	color: #D4A190;
	background: #A1D490;
}

h2:hover
{
	color: #0D0F0C;
}

#conteneur
{
	height: 100%;
	width: 80%;
	display: flex;
	flex-direction: column;
}


#conteneur:nth-child(1)
{
	
	order: 2;
}

#liseré
{
	border-radius: 6px;
	width: 10%;
	background-image: url("background/liseré.jpg");
}

#liseré:nth-chlid(2)
{
	order: 1;
}

@media screen and (max-width: 1024px)
{
	#liseré
	{
		display: none;
	}

	#cursus
	{
		flex-direction: column;
	}

	header
	{
		flex-wrap: nowrap;
		justify-content: space-around;
	}

	#experience
	{
		width: 90%;
	}

	#competence
	{
		width: 90%;
	}




}
	





